<div class="container" id="homesplash">
  <div class="container col-sm-6 col-xs-6" id="homesanta">
  </div>

  <div class="container col-sm-6 col-xs-6 text-center" id="homemenu">
    <h2>Welcome to Christmas Wish List!</h2><br>
    <h3 style="text-align: justify">Christmas Wish List takes the confusion and headache out of coordinating
      Christmas gifts across families. With this easy to use app, you can add your
      own name and personal wish list to let everyone see what you want for Christmas.
      When someone buys you a gift (or you buy someone else's), you can "check" the item
      so no one else buys you the same list! No more exchanges or returns!
    </h3>
  </div>
</div>
